.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-card-appear { 
  opacity: 0;
  z-index: 1;
}

.fade-card-appear.fade-card-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-card-enter {
  opacity: 0;
  z-index: 1;
}

.fade-card-enter.fade-card-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-card-exit {
  opacity: 1;
}

.fade-card-exit.fade-card-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}

.fade-card-exit-done {
  opacity: 0;
}