.fade-card-appear { 
    opacity: 0;
    z-index: 1;
}

.fade-card-appear.fade-card-appear-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}

.fade-card-enter {
    opacity: 0;
    z-index: 1;
}

.fade-card-enter.fade-card-enter-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}

.fade-card-exit {
    opacity: 1;
}

.fade-card-exit.fade-card-exit-active {
    opacity: 0;
    transition: opacity 2000ms linear;
}

.fade-card-exit-done {
    opacity: 0;
}